@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px; }

body {
  background-color: #f2f2f2; }

.divider {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; }

.line {
  height: 50%;
  border: 1px solid #87879d;
  opacity: 0.25; }

.circle {
  background-color: #f2f2f2;
  border: 1px solid rgba(135, 135, 157, 0.25);
  padding: 15px 18px;
  border-radius: 50%; }

.header {
  margin: 0 auto;
  padding: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.landing {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.landing-container {
  display: grid;
  grid-template-columns: 25% 50% 25%; }

.hero-left {
  height: 100%;
  display: flex;
  justify-content: flex-start; }

.hero-left img {
  object-fit: cover;
  margin-left: -30px; }

.heading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem; }

.hero-right {
  height: 100%;
  display: flex;
  justify-content: flex-end; }

.hero-right img {
  object-fit: cover;
  margin-right: -30px; }

.landing-buttons {
  display: flex;
  flex-direction: row; }

button.download {
  margin-right: 10px;
  background-color: #4d96a9;
  border-radius: 50px;
  padding: 10px 35px;
  color: #fafafa;
  font: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #87879d;
  border: none;
  cursor: pointer;
  transition: background-color 0.8s;
  color: #fafafa; }

button.download:hover {
  background-color: #71c0d4;
  transition: all 0.8s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); }

button.info {
  margin-left: 10px;
  background-color: #855fb1;
  border-radius: 50px;
  padding: 10px 35px;
  color: #fafafa;
  font: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #87879d;
  border: none;
  cursor: pointer;
  transition: background-color 0.8s;
  color: white; }

button.info:hover {
  background-color: #b18bdd;
  transition: all 0.8s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); }

.gallery {
  position: relative;
  width: 100%;
  height: 40vh;
  padding-top: 3.5rem; }

.gallery-container {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }

.gallery-container img {
  max-width: 23%;
  border-radius: 8px; }

.about-content {
  position: relative;
  width: 100%;
  padding: 6rem 0 4.5rem 0; }

.about-container {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20%; }

.footer {
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 40vh;
  width: 100%;
  background-image: url(../images/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4d96a9;
  background-blend-mode: multiply;
  margin-top: -35px; }

.footer-container {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer-item {
  max-width: 25%; }

button {
  background-color: #855fb1;
  border-radius: 50px;
  padding: 10px 35px;
  color: #fafafa;
  font: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #87879d;
  border: none;
  cursor: pointer;
  transition: background-color 0.8s; }

h1 {
  font: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center; }

h2 {
  font: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.75rem; }

h2.about {
  text-align: center;
  padding: 1.5rem 0; }

h2.footer-text {
  padding-right: 2.5rem;
  color: #fafafa; }

h3 {
  font: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: #4d96a9; }

p {
  font: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #87879d; }

p.landing-text {
  text-align: center;
  padding: 2.5rem 0; }

p.about {
  text-align: center; }

p.footer-text {
  color: #fafafa;
  padding-right: 0.5rem;
  margin-left: -4rem; }

button {
  color: white;
  font-size: 1rem; }

button:hover {
  background-color: #b18bdd;
  transition: all 0.8s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); }

button span {
  color: #d9b8ff; }

button.download span {
  color: #8fe3f9; }
