@import 'variablesMixins';

//FOOTER
.footer {
	margin: 0 auto;
	padding: 0;
	height: 35vh;
	width: 100%;
	border: 1px solid blue;
	background-image: url(../images/desktop/image-footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.footer-container {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	max-width: 1440px;
	border: 1px solid $black;
	display: flex;
	justify-content: center;
	align-items: center;
}
