@import 'variablesMixins';

//FOOTER
.footer {
	margin: 0 auto;
	padding: 0;
	position: relative;
	height: 40vh;
	width: 100%;
	background-image: url(../images/desktop/image-footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.footer-container {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-item {
	max-width: 25%;
}

button {
	@include purpleBtn;
}
