//VARIABLES
//colors
$green: #4d96a9;
$purple: #855fb1;
$black: #25283d;
$gray: #87879d;
$turquoise: #8fe3f9;
$light-purple: #d9b8ff;
$white: #fafafa;
$bg-white: #f2f2f2;
$hover-purple: #b18bdd;
$hover-green: #71c0d4;

//fonts
$font: 'Red Hat Display', sans-serif;

//FONT MIXINS
@mixin heading1 {
	font: $font;
	font-weight: 900;
	font-size: 4rem;
	line-height: 4rem;

	@media screen and (max-width: 1280px) {
		font-size: 3rem;
		line-height: 3rem;
	}

	@media screen and (max-width: 420px) {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}
}

@mixin heading2 {
	font: $font;
	font-weight: 900;
	font-size: 2.5rem;
	line-height: 2.75rem;

	@media screen and (max-width: 375px) {
		font-size: 2rem;
		line-height: 2.25rem;
	}
}

@mixin overline {
	font: $font;
	font-weight: 900;
	font-size: 1rem;
	line-height: 1.625rem;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	color: $green;

	@media screen and (max-width: 375px) {
		text-align: center;
	}
}

@mixin body {
	font: $font;
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 1.625rem;
	color: $gray;

	@media screen and (max-width: 768px) {
		font-size: 1rem;
	}
}

//BUTTON MIXINS
//Green Button
@mixin greenBtn {
	background-color: $green;
	border-radius: 50px;
	padding: 10px 35px;
	color: $white;
	@include body;
	border: none;
	cursor: pointer;
	transition: background-color 0.8s;
}

@mixin greenBtnHover {
	background-color: $hover-green;
	transition: all 0.8s;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

@mixin purpleBtn {
	background-color: $purple;
	border-radius: 50px;
	padding: 10px 35px;
	color: $white;
	@include body;
	border: none;
	cursor: pointer;
	transition: background-color 0.8s;
}

@mixin purpleBtnHover {
	background-color: $hover-purple;
	transition: all 0.8s;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
