@import 'variablesMixins';

//LANDING
.landing {
	position: relative;
	margin: 0 auto;
	padding: 0;
	height: 70vh;

	@media screen and (max-width: 1280px) {
		height: 85vh;
		margin-bottom: 10%;
	}
}

.landing-container {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
	justify-content: space-between;
	align-items: center;
	overflow: hidden;

	@media screen and (max-width: 1280px) {
		grid-template-columns: repeat(auto-fit, minmax(256px, 2fr));
		grid-template-columns: 50% 50%;
		padding: 3% 0;
	}
}

.hero-left {
	justify-self: start;
	margin-left: -30px;

	@media screen and (max-width: 1280px) {
		order: 1;
		justify-self: end;
		margin-right: 5%;
	}
}

.heading-content {
	justify-self: center;

	@media screen and (max-width: 1280px) {
		order: 3;
		grid-column: 1 / -1;
		padding: 8% 25%;
	}

	@media screen and (max-width: 768px) {
		padding: 8% 10%;
	}

	@media screen and (max-width: 768px) {
		padding: 0% 5%;
	}

	@media screen and (max-width: 375px) {
		padding: 0% 2%;
	}
}

.hero-right {
	justify-self: end;
	justify-content: end;
	margin-right: -30px;

	@media screen and (max-width: 1280px) {
		justify-self: start;
		justify-content: start;
		margin-left: 5%;
		order: 2;
	}
}

.hero-left img {
	max-width: 100%;

	@media screen and (max-width: 1280px) {
		max-width: 100%;
	}
}

.hero-right img {
	max-width: 100%;

	@media screen and (max-width: 1280px) {
		// max-width: 100%;
	}
}

.landing-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

button.download {
	margin-right: 10px;
	@include greenBtn;
	color: $white;
}

button.download:hover {
	@include greenBtnHover;
}

button.info {
	margin-left: 10px;
	@include purpleBtn;
	color: white;
}

button.info:hover {
	@include purpleBtnHover;
}
